{% extends 'base.html' %}

{% block title %}
    Upload Files
{% endblock %}

{% block content %}
    <!-- {% if err_msg %}
        
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{err_msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endif %} -->

    <form method="POST" action="">
        {% csrf_token %}
        <label for="file">Upload File</label>
        <input type="file" id="file" name="file">

        <button type="submit">Upload File</button>
    </form>
{% endblock %}